/Coin.obj
/DeliveryChute.exe
/DeliveryChute.ilk
/DeliveryChute.obj
/DeliveryChute.pdb
/main.ilk
/main.obj
/Product.exe
/Product.ilk
/Product.obj
/ProductButton.exe
/ProductButton.ilk
/ProductButton.obj
/ProductRack.exe
/ProductRack.ilk
/ProductRack.obj
/ProductRack.pdb
/StatusPanel.exe
/StatusPanel.ilk
/StatusPanel.obj
/StatusPanel.pdb
/TestFramework.obj
/UnitTest.exe
/UnitTest.ilk
/UnitTest.obj
/UnitTest.pdb
/vc140.pdb
/VendingMachine.exe
/VendingMachine.ilk
/VendingMachine.obj
/VendingMachine.pdb